@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap");

:root {
  /*color*/
  --green-light-color: #cbebd3;
  --greeen: #88c9b9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Vesper Libre";
  font-style: italic;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}
@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}
